<div class="overflow-hidden bg-pink-700 dark:-mb-32 dark:mt-[-4.5rem] dark:pb-32 dark:pt-[4.5rem] dark:lg:mt-[-4.75rem] dark:lg:pt-[4.75rem]">
  <div class="py-16 sm:px-2 lg:relative lg:py-20 lg:px-0">
    <div class="mx-auto grid max-w-2xl grid-cols-1 items-center gap-y-16 gap-x-8 px-4 lg:max-w-8xl lg:grid-cols-2 lg:px-8 xl:gap-x-16 xl:px-12">
      <div class="relative z-10 md:text-center lg:text-left">
        <img alt="" src="/images/blur-cyan.png" width="530" height="530" decoding="async" data-nimg="future" class="absolute bottom-full right-full -mr-72 -mb-56 opacity-50">
        <div class="relative">
          <p class="inline bg-gradient-to-r from-pink-200 via-rose-400 to-pink-200 bg-clip-text font-display text-5xl tracking-tight text-transparent">Aprende a crear aplicaciones Web modernas.</p>
          <p class="mt-3 text-2xl tracking-tight text-pink-200">Conoce como utilizar el framework Ruby on Rails para desarrollar aplicaciones de forma ágil.</p>
          <div class="mt-8 flex gap-4 md:justify-center lg:justify-start">
            <a class="rounded-full bg-rose-300 py-2 px-4 text-sm font-semibold text-slate-900 hover:bg-rose-200 focus:outline-none focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-rose-300/50 active:bg-rose-500" href="/recursos-para-desarrollar">Comenzar a aprender</a>
            <a class="rounded-full bg-slate-800 py-2 px-4 text-sm font-medium text-white hover:bg-slate-700 focus:outline-none focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-white/50 active:text-slate-400" href="https://github.com/mariochavez" target="_blank">Ver en GitHub</a>
          </div>
        </div>
      </div>
      <div class="relative lg:static xl:pl-10">
        <div class="absolute inset-x-[-50vw] -top-32 -bottom-48 [mask-image:linear-gradient(transparent,white,white)] dark:[mask-image:linear-gradient(transparent,white,transparent)] lg:left-[calc(50%+14rem)] lg:right-0 lg:-top-32 lg:-bottom-32 lg:[mask-image:none] lg:dark:[mask-image:linear-gradient(white,white,transparent)]">
          <svg aria-hidden="true" viewBox="0 0 668 413" width="668" height="413" fill="none" class="absolute opacity-70 top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2 lg:left-0">
            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g transform="translate(-1075.000000, -457.000000)" fill="#FFFFFF">
                <g transform="translate(1075.000000, 457.000000)">
                  <path d="M659.903985,181.119414 C602.597498,137.271987 458.062066,54.6571087 341.89328,146.173714 C225.724495,237.69032 259.29514,401.467126 259.29514,412.480874 C226.480852,412.480874 83.7167195,412.480874 29.0434783,412.480874 C73.5910076,219.544491 156.0351,133.734824 247.926071,77.8593757 C448.656079,-44.1970027 670.153601,173.075762 667.984191,175.108073 C665.81478,177.140385 665.81478,177.140385 659.903985,181.119414 Z" id="Path"></path>
                  <polygon id="Path-2" points="15.7338392 255.62195 52.2782609 273.403681 37.9739595 319.527438 -3.46347437e-15 305.973766"></polygon>
                  <polygon id="Path-3" points="106.350675 110.382206 145.217391 135.43376 115.249868 174.287693 75.5130435 145.300726"></polygon>
                  <polygon id="Path-4" points="197.495652 37.5092199 234.820998 17.4287693 261.391304 48.7228641 224.638372 69.7150773"></polygon>
                  <polygon id="Path-5" points="336.904348 0 385.914877 0 389.182609 23.2383591 344.954365 23.2383591"></polygon>
                  <polygon id="Path-6" points="476.313043 23.2383591 516.973913 51.6022711 509.092862 63.9054876 476.313043 45.2466283"></polygon>
                  <polygon id="Path-7" points="476.313043 116.191796 476.313043 126.40444 514.098542 127.810975 516.973913 118.423694"></polygon>
                  <polygon id="Path-8" points="377.565217 134.990714 409.675327 122.001385 418.226087 141.338057 393.252118 162.668514"></polygon>
                  <polygon id="Path-9" points="307.86087 189.506493 331.163382 168.478104 354.330435 199.723712 341.167522 220.764412"></polygon>
                  <polygon id="Path-10" points="275.148006 255.62195 307.86087 276.001298 303.67378 307.908258 261.391304 289.390533"></polygon>
                  <polygon id="Path-11" points="261.391304 366.004156 261.391304 404.086545 302.052174 412.480874 302.052174 382.780455"></polygon>
                </g>
              </g>
            </g>
          </svg>
        </div>
        <div class="relative">
          <img alt="" src="/images/blur-cyan.png" width="530" height="530" decoding="async" data-nimg="future" class="absolute -top-64 -right-64">
          <img alt="" src="/images/blur-indigo.png" width="567" height="567" decoding="async" data-nimg="future" class="absolute -bottom-40 -right-44">
          <div class="absolute inset-0 rounded-2xl bg-gradient-to-tr from-rose-300 via-rose-300/70 to-pink-300 opacity-10 blur-lg"></div>
          <div class="absolute inset-0 rounded-2xl bg-gradient-to-tr from-rose-300 via-rose-300/70 to-pink-300 opacity-10"></div>
          <div class="relative rounded-2xl bg-[#0A101F]/80 ring-1 ring-white/10 backdrop-blur">
            <div class="absolute -top-px left-20 right-11 h-px bg-gradient-to-r from-rose-300/0 via-rose-300/70 to-rose-300/0"></div>
            <div class="absolute -bottom-px left-11 right-20 h-px bg-gradient-to-r from-pink-400/0 via-pink-400 to-pink-400/0"></div>
            <div class="pl-4 pt-4">
              <svg aria-hidden="true" viewBox="0 0 42 10" fill="none" class="h-2.5 w-auto stroke-slate-500/30"><circle cx="5" cy="5" r="4.5"></circle><circle cx="21" cy="5" r="4.5"></circle><circle cx="37" cy="5" r="4.5"></circle></svg>
              <div class="mt-4 flex space-x-2 text-xs">
                <div class="flex h-6 rounded-full bg-gradient-to-r from-rose-400/30 via-pink-400 to-rose-400/30 p-px font-medium text-pink-300">
                  <div class="flex items-center rounded-full px-2.5 bg-slate-800">application.rb</div>
                </div>
                <div class="flex h-6 rounded-full text-pink-500">
                  <div class="flex items-center rounded-full px-2.5">routes.rb</div>
                </div>
              </div>
              <div class="mt-6 flex items-start px-1 text-sm">
                <div aria-hidden="true" class="select-none border-r border-slate-300/5 pr-4 font-mono text-slate-600">01<br>02<br>03<br>04<br>05<br>06<br>07<br>08<br>09<br>10<br>11<br>12<br>13<br>14<br>15<br></div>
                <pre class="prism-code language-javascript flex overflow-x-auto pb-6">
                  <code class="px-4"><span style="color: #f8f8f2">require</span> <span style="color: #e6db74">&quot;rails/all&quot;</span>

<span style="color: #66d9ef">Bundler</span><span style="color: #f92672">.</span><span style="color: #f8f8f2">require(</span><span style="color: #f92672">*</span><span style="color: #66d9ef">Rails</span><span style="color: #f92672">.</span><span style="color: #f8f8f2">groups)</span>

<span style="color: #66d9ef">module</span> <span style="color: #f8f8f2">Expenses</span>
  <span style="color: #66d9ef">class</span> <span style="color: #a6e22e">Application</span> <span style="color: #f92672">&lt;</span> <span style="color: #e6db74">Rails</span><span style="color: #f8f8f2">:</span><span style="color: #e6db74">:Application</span>
    <span style="color: #f8f8f2">config</span><span style="color: #f92672">.</span><span style="color: #f8f8f2">load_defaults</span> <span style="color: #ae81ff">7</span><span style="color: #f92672">.</span><span style="color: #ae81ff">0</span>

    <span style="color: #75715e"># config.time_zone = &quot;Central Time (US &amp; Canada)&quot;</span>
    <span style="color: #75715e"># config.eager_load_paths &lt;&lt; Rails.root.join(&quot;extras&quot;)</span>

    <span style="color: #f8f8f2">config</span><span style="color: #f92672">.</span><span style="color: #f8f8f2">i18n</span><span style="color: #f92672">.</span><span style="color: #f8f8f2">available_locales</span> <span style="color: #f92672">=</span> <span style="color: #f92672">[</span><span style="color: #e6db74">:es</span><span style="color: #f8f8f2">,</span> <span style="color: #e6db74">:&quot;es-MX&quot;</span><span style="color: #f92672">]</span>
    <span style="color: #f8f8f2">config</span><span style="color: #f92672">.</span><span style="color: #f8f8f2">i18n</span><span style="color: #f92672">.</span><span style="color: #f8f8f2">default_locale</span> <span style="color: #f92672">=</span> <span style="color: #e6db74">:es</span>
  <span style="color: #66d9ef">end</span>
<span style="color: #66d9ef">end</span></code>
                </pre>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
